<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style lang="scss">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .box {
            margin: 100px;
        }

        wy-button {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="box">
            <wy-popover position="bottom">
                <template slot="content">
                    popover 中的内容
                </template>
                <wy-button>下方显示内容</wy-button>
            </wy-popover>
            <wy-popover>
                <template slot="content">
                    popover 中的内容
                </template>
                <wy-button>点击显示</wy-button>
            </wy-popover>
            <wy-popover trigger="hover">
                <template slot="content">
                    popover 中的内容
                </template>
                <wy-button>hover 显示内容</wy-button>
            </wy-popover>
        </div>
        <div class="box">
            <wy-button @click="showToast">按钮</wy-button>
        </div>

        <div class="box">
            <div class="list">
                <template v-if="count">
                    <ul>
                        <li v-for="item in items">...</li>
                    </ul>
                    <wy-pagination :page-index="currentPage" :total="count" :page-size="pageSize" @change="pageChange">
                    </wy-pagination>
                </template>
            </div>

        </div>
        <div class="box">
            <wy-tabs :selected.sync="selectedTab">
                <wy-tabs-head>
                    <wy-tabs-item name='tab1'>
                        Tab1
                    </wy-tabs-item>
                    <wy-tabs-item name='tab2'>Tab2123123</wy-tabs-item>
                    <wy-tabs-item name='tab3'>Tab3</wy-tabs-item>
                    <wy-tabs-item name='tab4'>Tab4</wy-tabs-item>
                </wy-tabs-head>
                <wy-tabs-body>
                    <wy-tabs-panel name='tab1'>内容1</wy-tabs-panel>
                    <wy-tabs-panel name='tab2'>内容2</wy-tabs-panel>
                    <wy-tabs-panel name='tab3'>内容3</wy-tabs-panel>
                    <wy-tabs-panel name='tab4'>内容4</wy-tabs-panel>
                </wy-tabs-body>
            </wy-tabs>
        </div>
        <div class="box">
            <div class="grid-wrapper">
                <wy-row class="row">
                    <wy-col class="item" span="24">col-24</wy-col>
                </wy-row>
                <wy-row>
                    <wy-col class="item" span="12">col-12</wy-col>
                    <wy-col class="item" span="12">col-12</wy-col>
                </wy-row>
                <wy-row class="row">
                    <wy-col class="item" span="8">col-8</wy-col>
                    <wy-col class="item" span="8">col-8</wy-col>
                    <wy-col class="item" span="8">col-8</wy-col>
                </wy-row>
                <wy-row class="row">
                    <wy-col class="item" span="6">col-6</wy-col>
                    <wy-col class="item" span="6">col-6</wy-col>
                    <wy-col class="item" span="6">col-6</wy-col>
                    <wy-col class="item" span="6">col-6</wy-col>
                </wy-row>
            </div>
        </div>
        <div class="box">
            <h2>按钮组</h2>
            <wy-button-group>
                <wy-button icon="left">上一页</wy-button>
                <wy-button icon="right" icon-position="right">下一页</wy-button>
            </wy-button-group>
            <wy-button-group>
                <wy-button icon="addto">添加</wy-button>
                <wy-button icon="delete">删除</wy-button>
                <wy-button icon="edit">编辑</wy-button>
            </wy-button-group>
            <wy-button-group>
                <div>1</div>
                <div>1</div>
                <div>1</div>
            </wy-button-group>
        </div>
        <div class="box">
            <wy-icon name="edit"></wy-icon>
        </div>
        <div class="box">
            <wy-collapse :selected.sync="selected" single>
                <wy-collapse-item title="糖果" name="1">
                    <p>软糖</p>
                    <p>话梅糖</p>
                    <p>奶糖</p>
                </wy-collapse-item>
                <wy-collapse-item title="动漫" name="2">
                    <p>死亡笔记</p>
                    <p>黑礁</p>
                    <p>斩服少女</p>
                </wy-collapse-item>
                <wy-collapse-item title="水果" name="3">
                    <p>橘子</p>
                    <p>西瓜</p>
                    <p>菠萝</p>
                </wy-collapse-item>
            </wy-collapse>
        </div>
        <div class="box">
            <h3>Switch</h3>
            <wy-switch v-model:value="checked"></wy-switch>
            <span>{{checked}}</span>
            <wy-switch disabled></wy-switch>
            <wy-switch v-model:value="checked1" disabled></wy-switch>

        </div>
        <div class="box">
            <h3>Button</h3>
            <wy-button @click="f1">点击</wy-button>
            <br>
            <br>
            <wy-button disabled>禁用</wy-button>
            <br>
            <br>
            <wy-button size="small">小型按钮</wy-button>
            <wy-button>中型按钮</wy-button>
            <wy-button size="large">大型按钮</wy-button>
            <br>
            <br>
            <wy-button circle size="small">小圆</wy-button>
            <wy-button circle>中圆</wy-button>
            <wy-button circle size="large">大圆</wy-button>
            <br>
            <br>
            <wy-button type="primary">主要</wy-button>
            <wy-button type="success">成功</wy-button>
            <wy-button type="info">信息</wy-button>
            <wy-button type="warning">警告</wy-button>
            <wy-button type="danger">危险</wy-button>
            <br>
            <br>
            <wy-button type="danger" icon="edit" icon-position="right">危险</wy-button>
            <wy-button type="danger" loading>危险</wy-button>


        </div>

    </div>
    <script src="./src/app.js"></script>

</body>

</html>